li{
margin-left: 30px;

font-size: x-large;

}

.cuadroEx{
    
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.carouselStyle{
    margin: auto;
    width: 90%;
    height: auto;
    
}

.slidesF{
    border-radius: 20px;
    padding-inline: 10px;
}

/* Modificar tamaño y color de las flechas */
.slick-prev, .slick-next {
    
    color: #f59e0b; /* Color ámbar */
    z-index: 10; /* Asegura que estén por encima de las imágenes */
  }
  
  /* Cambiar posición de las flechas */
  .slick-prev {
    left: -50px; /* Mueve la flecha izquierda más hacia adentro */
  }
  
  .slick-next {
    right: -10px; /* Mueve la flecha derecha más hacia adentro */
  }
  
  /* Agregar fondo a las flechas */
  .slick-prev::before, .slick-next::before {
    color: #f59e0b; /* Color ámbar */
    font-size: 40px; /* Tamaño del icono de flecha */
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    border-radius: 50%; /* Flechas redondas */
    padding: 10px; /* Espaciado interno */
  }
  